services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: fix-price-test
      POSTGRES_USER: fpuser
      POSTGRES_PASSWORD: fppass
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: fix-price-test
      DB_USER: fpuser
      DB_PASS: fppass
    volumes:
      - ./:/var/www/html:cached
      - vendor_data:/var/www/html/vendor
    ports:
      - '9000:9000'

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
    ports:
      - '8080:80'
    volumes:
      - ./:/var/www/html:cached
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  db_data:
  vendor_data:
